* {
  box-sizing: border-box;
}

html,
body {
  background-color: #3a3a3a;
  color: #3a3a3a;
  font-family: 'helvetica';
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100wh;
}
ul{
  list-style-type: none;
}
a {
  text-decoration: none;
}
