/* header */
.header {
  background-color: #ffffff;
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

/* navbar */
.navbar {
  align-items: center;
  border-bottom-color: #f0f0f0;
  border-bottom-width: 1em;
  background-color: #ffffff;
  display: flex;
  height: 6em;
  justify-content: space-between;
  padding-bottom: 1vh;
  padding-top: 3vh;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.navbar__section {
  background-color: #ffffff;
  display: flex;
  z-index: 3;
}
.navbar__section--right {
  background-color: #ffffff;
  justify-content: space-around;
  width: 35%;
}
.logo {
  height: 4em;
  width: 8em;
}
.navbar__item {
  background-color: #ffffff;
  color: #3a3a3a;
  padding: 1em;
  width: 4em;
}
.navbar__item:visited {
  color: #3a3a3a;
}
.navbar__item:active,
.navbar__item:hover {
  border-bottom-color: #fe289c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.content__wrapper {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100vw;
}
.content__wrapper--variant {
  background-color: #fdfefd;
  padding-top: 1em;
}
.header__content {
  margin-top: -25vh;
  margin-left: 5%;
  width: 40%;
  z-index: 2;
}
.header__content--right {
  margin-top: 0.5em;
  width: 50%;
  z-index: 1;
}
.image__style {
  padding-top: 5em;
  width: 100%;
}
.header__content__title {
  font-size: 3em;
}
.span__text {
  color: #fe289c;
}
.button__style {
  background-color: #fe289c;
  border-color: #fe289c;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1.5em;
  padding: 0.5em 1em;
}
.button__text {
  color: #ffffff;
  font-size: 1em;
}
/*section content*/
.section__image {
  width: 50vw;
}
.section__content {
  height: 100vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 35vh;
  width: 50vw;
  z-index: 3;
}
.section__content--variant {
  background-color: #fdfefd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: 60vh;
  margin-top: 0;
  overflow-y: scroll;
  padding: 1em 2em;
}
.card {
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.8em;
  padding: 1.2em;
  transition: 0.3s;
  height: 12em;
  width: 15em !important;
}
.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card__text {
  text-align: center;
  width: 100%;
}
.card__icon {
  font-size: 40px;
  text-align: center;
  width: 100%;
}
/*projects content*/
.details__style {
  padding: 1.2em 1em;
}
.summary__style {
  font-weight: bold;
  border-bottom: 1px solid #3a3a3a;
  padding: 0.5em 1em;
}
.details__content {
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  padding: 1em;
}
.project__link {
  padding: 0.5em;
  color: #3a3a3a;
}
.project__link:visited,
.project__link:hover {
  color: #3a3a3a;
  border-bottom-color: #fe289c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
/* form style */
.form__style {
  background-color: #ffffff;
  width: 50vw;
}
.fieldset__style {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: transparent;
  overflow: hidden;
}
.form__label {
  height: 2vh;
  width: 100%;
}
.form__input {
  height: 5vh;
  margin-top: 1.25vh;
  margin-bottom: 2vh;
  width: 100%;
}
.form__input--textarea {
  height: 12.5vh;
}
.button__style--form {
  margin-left: 42.5vw;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}
/*footer*/
.content__wrapper--footer {
  background-color: #3a3a3a;
  height: 25vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.footer__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 0em 2em;
  width: 100vw;
}
.avatar__wrapper {
  height: 8em;
  width: 8em;
  border-radius: 4em;
  overflow: hidden;
}
.avatar {
  width: 8em;
}
.footer__content__text {
  color: #ffffff;
  width: 100%;
}
.footer__content__link {
  height: 3em;
  color: #ffffff;
  text-decoration: none;
}
.footer__icon {
  font-size: 18px;
  font-weight: bold;
}
